body {
    min-height: 100vh;
    background-image: url('../images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p {
    text-align: justify;
}
li {
    text-align: justify;
}
.navbar-nav .dropdown-menu {
    padding: 0;
    width: 100%;
    max-width: none;
}

.navbar-nav .dropdown-menu .row {
    display: flex;
    flex-wrap: nowrap;
}

.navbar-nav .dropdown-menu .col-md-4 {
    padding: 1rem;
}


